@import "./../../../variables.scss";

.login-wrapper {
  text-align: center;
  //font-family: BentonSans;

  .login-logo-container {
    padding-top: 100px;
    padding-bottom: 100px;
    .login-logo {
      width: 150px;
      height: 150px;
      border-radius: 75px;
    }
  }

  .application-name {
    font-size: 28px;
  }

  .login-form {

    input{
      width: 100%;
    }

    .input-fields-container {
      text-align: center;
      font-size: 21px;
      padding-bottom: 40px;
      padding-top: 76px;

      .material-input{
        width: 100%;
      }
    }

    .login-button-container{

      .login-button {
        width: 100%;
        height: 44px;
        border-radius: 22px;
        background-color: $primaryblue;
        color:#fff;
      }

      .login-button[disabled] {
        color:#fff;
        background-color: rgba(0,0,0,.12);
      }
    }
    
  }
}
