@import "./../../../variables.scss";

.loading-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-text{
        font-size: 16px;
        font-family: BentonSans;
        color: $primaryblue;
    }
}