/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

//----------------------------------*\
// Fonts
//----------------------------------*/
@import "assets/fonts/fonts";
@import "./variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: BentonSans;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field.mat-focused {
  color:$primaryblue;

  .mat-form-field-ripple {
    background-color: $primaryblue;
  }

  .mat-form-field-label {
    color: $primaryblue;
  }
}

.mat-form-field-invalid {
  color: #f44336;
}

.row {
  height: 100%;
  margin: 0;
}

.mat-slide-toggle.mat-checked { 
  .mat-slide-toggle-bar{
    background-color: green;
  }

  .mat-slide-toggle-thumb {
    background-color: #fff;
  }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fff;
}

.mat-dialog-container{
  padding: 40px !important;
  border-radius: 20px !important; 
}

.left-arrow{
  margin-left: -40px;
  padding-right: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  padding-top: 10px;;
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}