<div class="client-window-wrapper">
    <div class="client-info-header-container" *ngIf="!showFullHistory">
        <div class="user-information-container">
            <img class="left-arrow" src="../../../assets/icons/chevron-left.png" (click)="returnConversation()">
            <img class="client-image" src="../../../assets/logo.png">
            <div class="chat-participants-container">
                <div class="client-name">{{getClientName(client)}}</div>
                <div class="relationship-manager-name">{{ getRMName(client.dtoPortfolio) }}</div>
            </div>
        </div>
        <div class="client-details-container">
            <!-- <div class="client-detail">
                <div class="detail-item-name">Current Account Number</div>
                <div class="detail-item-value">{{client.currentAccountNumber}}</div>
            </div> -->
            <div class="client-detail">
                <div class="detail-item-name">ID Number</div>
                <div class="detail-item-value">{{client.customerSAId}}</div>
            </div>
            <div class="client-detail">
                <div class="detail-item-name">Cell Number</div>
                <div class="detail-item-value">{{client.mobileNumber}}</div>
            </div>
            <div class="client-detail">
                <div class="detail-item-name">Email Address</div>
                <div class="detail-item-value">{{client.customerEmail}}</div>
            </div>
        </div>
    </div>
    <div class="conversation-history-container">
        <div class="conversation-history-container-title" [ngStyle]="{'padding-top' : showFullHistory ? '0' : ''}">
            <img class="left-arrow" src="../../../assets/icons/chevron-left.png" (click)="showFullHistory = false" *ngIf="showFullHistory">

            <span class="history-title">Conversation History</span>
            <div class="date-picker-container" *ngIf="showFullHistory">
                <div class="month-picker-container" (click)="toggleFilter('month')">
                    <span class="month-selector">{{currentMonth}}</span>
                    <img src=".../../../../../assets/icons/chevron-down.png" />
                    <div class="month-popup" *ngIf="openMonthFilter === true">
                        <div (click)="setCurrent('month', theMonth)"  *ngFor="let theMonth of monthsList">{{theMonth}}</div>
                    </div>
                </div>
                
                <div class="year-picker-container" (click)="toggleFilter('year')">
                    <span class="year-selector">{{currentYear}}</span>
                    <img src=".../../../../../assets/icons/chevron-down.png" />
                    <div class="year-popup" *ngIf="openYearFilter === true" >
                        <div (click)="setCurrent('year', theYear)" *ngFor="let theYear of yearsList">{{theYear}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="previous-conversations-container" *ngIf="clientConversations !== null">
            <div *ngFor="let conversation of clientConversations | slice:0:maxConvos">
                <div class="conversation-item"   *ngIf="conversationHasMessages(conversation)">
                    <div class="conversation-details">
                        <div class="conversation-date">
                            {{getShortTime(getConversationLastMessage(conversation).messageTimestamp)}}
                        </div>
                        <div class="conversation-preview">
                            {{getConversationLastMessage(conversation).messageText}}
                        </div>
                    </div>
                    <div class="view-conversation-button"(click)="goToConversation(conversation)">
                        <span class="view-conversation-text">View conversation</span>
                    </div>
                </div>
            </div>
            <div *ngIf="hasNoConversations(clientConversations)" class="no-results-message">No conversations found</div>
        </div>
        <button mat-flat-button isRoundButton="true" class="more-texts-button" (click)="showFullHistory = true" *ngIf="showButton(clientConversations)">View More</button>
    </div>
</div>