@import "./../../../variables.scss";

.client-window-wrapper{
    .client-info-header-container{
        //padding: 60px 45px;

        .client-image{
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }

        .chat-participants-container{
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;

            .client-name{
                font-size: 20px;
            }

            .relationship-manager-name{
                font-size: 16px;
                color: $bluegrey;
            }
        }
    }

    .client-details-container{
        padding-top: 20px;
        .client-detail{
            padding-bottom: 20px;

            .detail-item-name{
                font-size: 13px;
                color: $bluegrey;
            }

            .detail-item-value{
                font-size: 16px;
            }
        }
    }

    .conversation-history-container{

        .conversation-history-container-title{
            font-size: 28px;
            padding-bottom: 40px;
            padding-top: 60px;
            display: flex;
            flex-direction: row;
            
            .date-picker-container{
                display: flex;
                margin-left: auto;
                
                .month-picker-container{
                    display: inline-block;
    
                    .month-selector{
                        padding-right: 10px;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .month-popup{
                        width: auto;
                        height: 180px;
                        cursor: pointer;
                        position: absolute;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                        background-color: #fff;
                        overflow-y: scroll;

                        div {
                          padding: 20px;
                          font-size: 16px;
                          color: $primaryblue;
                        }
                    }
                }

                
    
                .year-picker-container{
                    display: inline-block;
                    padding-left: 25px;
    
                    .year-selector{
                        padding-right: 10px;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .year-popup{
                        width: auto;
                        height: 180px;
                        cursor: pointer;
                        position: absolute;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                        background-color: #fff;
                        overflow-y: scroll;

                        div {
                          padding: 20px;
                          font-size: 16px;
                          color: $primaryblue;
                        }
                    }
                }

                
            }

            .history-title{
                align-self: center;
            }
        }

        .previous-conversations-container{
            padding-bottom: 40px;

            .conversation-item{
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $bluegrey;
                .conversation-details{
                    display: inline-block;
                    width: 50%;

                    .conversation-date{

                    }

                    .conversation-preview{
                        color: $bluegrey;
                        font-size: 16px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .view-conversation-button{
                    display: inline-block;
                    width: 50%;
                    text-align: end;

                    .view-conversation-text{
                        color: $primaryblue;
                        cursor: pointer;
                    }
                }
            }
        }

        .more-texts-button{
            width: 50%;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 22px;
            background-color: $primaryblue;
            color: #fff;
            font-size: 16px;
        }
    }
}