<div class="homescreen-wrapper container-fluid">
  <div class="row">
    <div *ngIf="hasUserData; then homeScreen; else loadingScreen"></div>
    <ng-template #loadingScreen>
      <app-loading class="loading-screen-container col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-loading>
    </ng-template>
    <ng-template #homeScreen>
      <div class="sidebar-container col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <app-sidebar [menuItems]="isTeamLead ? menuActionsTL : menuActions" (selectedTabChange)="setCurrentTab($event)" [totalConversations]="getConversationsNumber()"></app-sidebar>
      </div>
      <div [ngClass]="{'conversation-bar-container': true, 'col-xs-12  col-md-3 col-lg-3' : !shouldHideConvoBar()}" *ngIf="!shouldHideConvoBar()">
        <app-conversations-bar [reloadVariable]="shouldReload()" (activeItemChange)="getCurrentTab() === 'chat' || getCurrentTab() === 'escalations' ? changeActiveChat($event) : changeActivePortfolio($event)" [currentTab]="getCurrentTab()" [isTeamLead]="isTeamLead" (showTransactionalBankers)="displayTransactionalBankers($event, false)"></app-conversations-bar>
      </div>
      <div [ngClass]="{'main-window-container': true, 'col-xs-12 col-md-7 col-lg-7' : !shouldHideConvoBar(), 'col-xs-12 col-md-10 col-lg-10' : shouldHideConvoBar()}" [ngSwitch]="currentScreen">
        <app-chat-window *ngSwitchCase="'chat'" [currentCustomerId]="getActiveClient()" [currentChatId]="getActiveChat()" (showClientProfile)="showClientProfile($event)" (showModal)="openDialog($event)" [prevConversation]="getPrevConversation()" [currentConversation]="getCurrentConversation()" [isOldConversation]="getConversationType()" [canEscalate]="!checkIfRelationshipManager()"></app-chat-window>
        <app-client-window *ngSwitchCase="'Client'" [currentClientId]="getActiveClient()" (showConversationScreen)="showConversation($event)" (returnToConversation)="changeActiveChat($event)" [currentConversation]="getCurrentConversation()"></app-client-window>
        <app-teamlead-window *ngSwitchCase="'Team Leads'" (showModal)="openDialog($event)" [bankerTeamId]="currentUser.team.teamId" (bankerProfileClicked)="selectBanker($event)" (reAllocateConvo)="allocateConversation($event)" [isReAllocation]='getScreenState()' [currentBanker]="getSelectedBanker()"></app-teamlead-window>
        <app-transactional-banker-profile *ngSwitchCase="'TB Profile'" [bankerObject]="selectedBanker" (showConversationAllocateScreen)="displayTransactionalBankers($event, true)" ></app-transactional-banker-profile>
        <app-relationship-manager-window *ngSwitchCase="'Relationships'" (showClientProfile)="showClientProfile($event)" [currentPortfolio]="getCurrentPortfolio()"></app-relationship-manager-window> 
        <app-landing-page [currentUser]="getCurrentUser()" *ngSwitchDefault></app-landing-page>
      </div>
    </ng-template>
  </div>
</div>
