.homescreen-wrapper {
  height: 100%;
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 0;
  .main-window-container {
    display: inline-block;
    height: 100%;
    padding: 80px 60px;
    padding-bottom: 0;
    overflow-y: scroll;
  }

  @media screen and (max-width: 321px) {
  }

  .sidebar-container {
    width: 100%;
    height: 100%;
    padding: 0;

    @media screen and (max-width: 425px) {
      height: 50%;
    }
  }

  .conversation-bar-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .chat-window-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .client-window-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .loading-screen-container{
    width: 100%;
    height: 100%;
  }
}
