@import "./../../../variables.scss";

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  background-image: linear-gradient($secondaryblue, $primaryblue);
  .app-info-container {
    @media screen and(max-width: 321px) {
      text-align: center;
      padding-left: 0px;
      padding-right: 50px;
    }

    @media only screen and (min-width: 322px) and (max-width: 425px) {
      padding-left: 0;
      padding-right: 50px;
    }
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;

    .app-logo {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: inline-block;
    }

    .app-name {
      display: inline-block;
      padding-left: 10px;
    }
  }

  .user-actions-container {
    text-align: center;
    //padding-left: 25%;

    .focussed {
      opacity: 1 !important;
    }

    .unfocussed {
      opacity: 0.5;
    }

    .user-action-group{
      display: inline-block;
      .user-action {
        padding-bottom: 20px;
        outline: none;
        display: flex;
        opacity: 0.5;
        color: #ffffff;

        .action-logo {
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }
        .action-name {
          padding-left: 10px;
          font-family: BentonSans;
          font-size: 16px;
          float: left;
          padding-right: 5px;
        }
  
        .conversations-count{
          font-family: BentonSans;
          font-size: 16px;
          border-radius: 12.5px;
          display: inline-block;
          padding: 0px 6px;
          border: 1.5px solid white;
        }

        .action-name:visited,
        .action-name:hover,
        .action-name:active,
        .action-name:focus {
          cursor: pointer;
        }
  
        .notifications {
          width: 24px;
          height: 24px;
          border-radius: 20px;
          border: 1px solid #fff;
          float: left;
          position: relative;
          bottom: 3px;
          color: #ffff;
          font-size: medium;
        }
      }:hover{
        opacity: 1;
      }

      .selected-action{
        opacity: 1;
        .action-name {
          font-weight: 500;
        }
      }
    }
    
  }
}

.inline-block {
  display: inline-block;
}
