<div class="sidebar-wrapper">
  <div class="app-info-container">
    <div class="inline-block">
      <!-- <img class="app-logo" src="../../../assets/icons/logo@3x.png" /> -->
    </div>
  </div>

  <div class="user-actions-container">
    <div class="user-action-group">
      <div [ngClass]="{'user-action': true, 'selected-action': isCurrentTab(userPage.label)}" (click)="tabChanged(userPage.label)" *ngFor="let userPage of menuItems">
        <span
          class="action-name">
          {{userPage.label}}
        </span>
        <span *ngIf="isMessagingTab(userPage.label) && (totalConversations > 0)" class="conversations-count">
          {{ totalConversations }}
        </span>
      </div>
    </div>
  </div>
</div>
