<div class="teamlead-window-wrapper" >
    <div *ngIf="isReAllocation" class="reallocate-title-container">
        <img class="left-arrow" (click)="registerProfileClick(currentBanker, false)" src="../../../assets/icons/chevron-left.png">
        <div class="allocate-title">Allocate another transactional banker</div>
    </div>
    

    <div class="search-bar-container">
        <mat-form-field class="search-input-field">
            <mat-label class="light-gray">Search</mat-label>
            <input matInput (keyup)="onSearch($event)"/>
        </mat-form-field>
    </div>
    <div class="conversation-status-container">
        <div class="conversation-status">
            <div class="state-indicator" style="border-color: #0033a1;"></div>
            <div class="state">Pending</div>
        </div>
        <div class="conversation-status">
            <div class="state-indicator" style="border-color: #ff681d;"></div>
            <div class="state">In progress</div>
        </div>
        <div class="conversation-status">
            <div class="state-indicator" style="border-color: #00ad6c;"></div>
            <div class="state">Closed</div>
        </div>
    </div>
     <div class="transactional-banker-list-container">
        <div *ngIf="showSearchResults;then searchResults; else allBankers"></div>

        <ng-template #allBankers>
            <div class="transactional-banker" (click)="registerProfileClick(banker, isReAllocation)" *ngFor="let banker of teamBankers">
                <div class="banker-name">
                    {{banker.name}} {{banker.surname}}
                </div>
                <div class="banker-conversations-status-container">
                    <div class="pending state-indicator">
                        {{countConversations(banker.dtoConversations, "new")}}
                    </div>
                    <div class="in-progress state-indicator">
                        {{countConversations(banker.dtoConversations, "active")}}
                    </div>
                    <div class="closed state-indicator">
                        {{countConversations(banker.dtoConversations, "closed")}}
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #searchResults>
            <div class="transactional-banker" (click)="registerProfileClick(banker, isReAllocation)" *ngFor="let banker of filteredBankers">
                <div class="banker-name">
                    {{banker.name}} {{banker.surname}}
                </div>
                <div class="banker-conversations-status-container">
                    <div class="pending state-indicator">
                        {{countConversations(banker.dtoConversations, "new")}}
                    </div>
                    <div class="in-progress state-indicator">
                        {{countConversations(banker.dtoConversations, "active")}}
                    </div>
                    <div class="closed state-indicator">
                        {{countConversations(banker.dtoConversations, "closed")}}
                    </div>
                </div>
            </div>
            <div *ngIf="!hasResults()" class="no-results message">
                No results found
              </div>
        </ng-template>
    </div>
</div>