@import "./../../../variables.scss";

.teamlead-window-wrapper{
    margin-top: -40px;
    .reallocate-title-container{
        display: flex;
        .allocate-title{
            font-size: 28px;
            display: flex;
            align-self: center;
        }
        padding-bottom: 50px;
    }
    
    .search-bar-container{
        .search-input-field{
            font-size: 16px;
            width: 60%;
        }
    }

    .conversation-status-container{
        padding-top: 25px;
        padding-bottom: 25px;
        .conversation-status{
            display: inline-block;

            .state-indicator{
                width: 25px;
                height: 25px;
                border-radius: 12.5px;
                display: inline-block;
                border: 1.5px solid;
            }

            .state{
                display: inline-block;
                vertical-align: super;

                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .transactional-banker-list-container{
        .transactional-banker{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px $bluegrey solid;

            .banker-name{
                font-size: 16px;
                display: inline-block;
            }

            .banker-conversations-status-container{
                display: inline-block;
                float: right;
                
                .state-indicator{
                    display: inline-block;
                    border-radius: 12.5px;
                    display: inline-block;
                    padding: 0px 6px;
                    border: 1.5px solid;
                }
                .pending{
                    border-color: $primaryblue;
                    color: $primaryblue;
                }

                .closed{
                    border-color: $shamrock;
                    color: $shamrock;
                }

                .in-progress{
                    border-color: $reddish-orange;
                    color: $reddish-orange;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }:hover {
            background-color: #f5f5f5;
            cursor: pointer;
          }
    }
}