@import "./../../../variables.scss";

.chat-window-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  //padding: 0px 80px;
  padding-right: 0px;

  .chat-header-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-between;

    .user-information-container {
      .client-image{
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }

      .chat-participants-container{
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;

          .client-name-container{
            display: flex;
            justify-content: space-between;

            .client-name{
              font-size: 20px;
            }

            .right-arrow{
              transform: rotate(-90deg);
            }
          }
          

          .relationship-manager-name{
              font-size: 16px;
              color: $bluegrey;
          }
      }

      .right-arrow{

      }
    }

    .more-options-container {
    }
  }

  .chat-conversation-container {
    height: 100%;
    overflow-y: scroll;
    //overflow-x: hidden;
    .conversation-entry{
      .chat-message-container {
        display: flex;
        flex-direction: row;
  
        .conversation-message {
          display: flex;
          flex-direction: column;
          width: 50%;
          margin-right: 80px;
          padding-top: 10px;
          padding-bottom: 10px;
  
          .message-details {
            display: flex;
            flex-direction: row;
  
            .message-sender {
              font-size: 13px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
              color: $bluegrey;
            }
  
            .message-time {
              padding-left: 5px;
              font-size: 13px;
              color: $bluegrey;
            }
  
            .sb-blue {
              color: $primaryblue;
            }
          }
  
          .message-content {
            height: fit-content;
            padding: 20px 40px;
            border-radius: 0px 21px 21px 21px;
            background-color: #f5f5f5;
          }
          .sent-message {
            border-radius: 21px 0px 21px 21px;
            background-color: #fff;
            border: 2px solid;
            border-color: $primaryblue;
            color: #000;
          }
        }
      }
    }
    

    .menu-popup {
      width: 222px;
      height: auto;
      cursor: pointer;
      position: absolute;
      border-radius: 21px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      right: 0;
      top: 120px;
      
      div {
        padding: 20px;
        font-size: 16px;
        color: $primaryblue;
      }
    }
  }

  .send-message-container {
    padding-bottom: 40px;
    .search-input-field {
      width: 100%;
      font-size: 21px;
    }

    .filter-toggle {
      padding-left: 10px;
    }
    .send-message-btn {
      width: 50%;
      padding-bottom: 10px;
      padding-top: 10px;
      border-radius: 22px;
      background-color: $primaryblue;
      color: #fff;
      font-size: 16px;
    }
  }
}

.landing-icon {
  width: 48px;
  height: 48px;
}

.padding-h-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-v-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.padding-100 {
  padding: 100px;
}
.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-40 {
  padding: 40px;
}

.light-gray {
  color: $bluegrey;
}
.heading {
  font-family: BentonSans;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 20px;
  line-height: 1.36;
}

.subheading {
  font-family: BentonSans;
  font-size: 21px;
  line-height: 1.43;
}

.info-text {
  font-family: BentonSans;
  line-height: 1.5;
}
