<div class="chat-window-wrapper">
  <div class="chat-header-container">
    <div class="user-information-container" (click)="displayUserProfile(currentConversation.customerId)">
      <img class="left-arrow" src="../../../assets/icons/chevron-left.png" *ngIf="isConversationHistory()">
      <img class="client-image" src="../../../assets/logo.png">
      <div class="chat-participants-container">
        <div class="client-name-container">
          <div class="client-name">{{getClientName()}}</div>
          <img class="right-arrow" src="../../../assets/icons/chevron-down.png" *ngIf="!isConversationHistory()">
        </div>
        <div class="relationship-manager-name">{{getRMName(currentConversation.dtoPortfolio)}}</div>
      </div>
    </div>

    <div class="more-options-container" *ngIf="!isConversationHistory()">
      <img class="more-options-image" src="../../../assets/icons/more.png" (click)="openMenu = !openMenu" />
    </div>
  </div>
  <div id="chatContainer" class="chat-conversation-container" #scrollMe style="overflow-y: scroll; height: xyz;">
    <div class="menu-popup" *ngIf="openMenu === true">
      <div (click)="displayDialog('Close')">Close conversation</div>
      <div (click)="displayDialog('Escalate')" *ngIf="canEscalate">Escalate</div>
    </div>
    <div class="conversation-entry" *ngFor="let chatConvo of allConvos">
      <div class="chat-message-container" *ngFor="let conversationMessage of chatConvo.messages" [fxLayoutAlign]="isSentMessage(conversationMessage.senderId) ? 'flex-end' : 'flex-start'">
        <div class="conversation-message">
          <div class="message-details">
            <div class="message-sender" [ngClass]="{ 'sb-blue': isSentMessage(conversationMessage.senderId)}">
              {{ isSentMessage(conversationMessage.senderId) ? getBankername(conversationMessage) : getClientName() }}
            </div>
            <div class="message-time" [ngClass]="{ 'sb-blue': isSentMessage(conversationMessage.senderId) }">
              {{ conversationMessage.messageTimestamp | date: 'shortTime' }}
            </div>
          </div>
          <div class="message-content" [ngClass]="{ 'sent-message': isSentMessage(conversationMessage.senderId) }">
            {{ conversationMessage.messageText }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="message-form" *ngIf="!isConversationHistory()">
    <div class="send-message-container">
      <mat-form-field class="search-input-field">
        <mat-label class="light-gray">Type message</mat-label>
        <input matInput (keyup.enter)="onSubmitText()" [formControl]="newMessage" />
      </mat-form-field>
      <button mat-flat-button isRoundButton="true" class="send-message-btn" (click)="onSubmitText()">
        SEND
      </button>
    </div>
  </div>
</div>