@font-face {
  font-family: "bebas neue";
  src: url("assets/fonts/bebasneue.woff2") format("woff2"),
    url("assets/fonts/bebasneue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Benton Modern";
  src: url("assets/fonts/BentonModern-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/BentonModern-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-Black.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-LightItalic.woff2") format("woff2"),
    url("assets/fonts/BentonSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BentonSans";
  src: url("assets/fonts/BentonSans-Book.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Benton Modern";
  src: url("assets/fonts/BentonModern-Roman.woff2") format("woff2"),
    url("assets/fonts/BentonModern-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Benton Modern";
  src: url("assets/fonts/BentonModern-Italic.woff2") format("woff2"),
    url("assets/fonts/BentonModern-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-Bold.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-Light.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/BentonSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-BlackItalic.woff2") format("woff2"),
    url("assets/fonts/BentonSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-Regular.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Benton Sans";
  src: url("assets/fonts/BentonSans-Italic.woff2") format("woff2"),
    url("assets/fonts/BentonSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Benton Modern";
  src: url("assets/fonts/BentonModern-Bold.woff2") format("woff2"),
    url("assets/fonts/BentonModern-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}
