@import "./../../../variables.scss";

.transactional-banker-window-wrapper{
    .banker-information-container{
        .banker-image{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            display: inline-block;
        }
    
        .banker-details-container{
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            
            .banker-name{
                font-size: 20px;
            }
    
            .team-lead-name{
    
            }
        }

        .profile-toggle-contaimer{
            display: inline-block;
            float: right;

            .toggle-button{
                font-size: 16px;
                color: $bluegrey;
            }
        }
    }

    .banker-conversations-filter-container{
        padding-bottom: 45px;
        padding-top: 45px;

        .filter-type-selector{
            display: inline-block;

            .filter-icon-container{
                display: inline-block;
            }
    
            .filter-text{
                display: inline-block;
                font-size: 16px;
                padding-left: 15px;
            }

            .filter-popup {
                width: 222px;
                height: auto;
                cursor: pointer;
                position: absolute;
                border-radius: 21px;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                background-color: #fff;
                div {
                  padding: 20px;
                  font-size: 16px;
                  color: $primaryblue;
                }
            }
        }

        .date-picker-container{
            display: inline-block;
            float: right;
            .month-picker-container{
                display: inline-block;

                .month-selector{
                    padding-right: 10px;
                    font-size: 16px;
                    font-weight: 500;
                }

                .month-popup{
                    width: auto;
                    height: 180px;
                    cursor: pointer;
                    position: absolute;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                    background-color: #fff;
                    overflow-y: scroll;

                    div {
                      padding: 20px;
                      font-size: 16px;
                      color: $primaryblue;
                    }
                }
            }

            .year-picker-container{
                display: inline-block;
                padding-left: 25px;

                .year-selector{
                    padding-right: 10px;
                    font-size: 16px;
                    font-weight: 500;
;
                }

                .year-popup{
                    width: auto;
                    height: 180px;
                    cursor: pointer;
                    position: absolute;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                    background-color: #fff;
                    overflow-y: scroll;

                    div {
                      padding: 20px;
                      font-size: 16px;
                      color: $primaryblue;
                    }
                }
            }
        }
        
    }

    .banker-conversations-container {
        .conversation-details{
            border-bottom: 1px $bluegrey solid;
            padding-bottom: 10px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            .client-conversation-container{
                width: 85%;

                .client-name{
                    font-size: 16px;
                }

                .message-details{
                    font-size: 16px;
                    color: $bluegrey;
                    display: flex;
                    justify-content: space-between;
                    .conversation-preview{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 75%;
                    }

                    .conversation-date{

                    }
                }
            }

            .conversation-action{
                display: flex;
                flex-flow: column;
                justify-content: center;
                cursor: pointer;
            }
        }:hover {
            background-color: #f5f5f5;
            //cursor: default;
          }
    }
}
