<div class="transactional-banker-window-wrapper" >
    <div class="banker-information-container">
        <img class="left-arrow" src="../../../assets/icons/chevron-left.png" (click)="showAllocateScreen('')">
        <img class="banker-image" src="../../../assets/logo.png">
        <div class="banker-details-container">
            <div class="banker-name">{{bankerObject.name}} {{bankerObject.surname}}</div>
            <!-- <div class="team-lead-name">{{bankerObject.team.teamId}} </div> -->
        </div>
        <div class="profile-toggle-contaimer">
            <mat-slide-toggle class="toggle-button" labelPosition="before" [checked]="bankerObject.status" (change)="changeTBStatus($event)">Profile active</mat-slide-toggle>
        </div>
    </div>
    <div class="banker-conversations-filter-container">
        <div class="filter-type-selector">
            <div class="filter-icon-container" (click)="openFilter = !openFilter" >
                <img src="../../../assets/icons/filters.png">
            </div>
            <span class="filter-text" (click)="openFilter = !openFilter">Filter</span>
            <div class="filter-popup" *ngIf="openFilter === true">
                <div (click)="filterChats('all')">All</div>
                <div (click)="filterChats('new')">Pending</div>
                <div (click)="filterChats('active')" >In progress</div>
                <div (click)="filterChats('closed')">Closed</div>
              </div>
        </div>
        <div class="date-picker-container">
            <div class="month-picker-container" (click)="toggleFilter('month')">
                <span class="month-selector">{{currentMonth}}</span>
                <img src=".../../../../../assets/icons/chevron-down.png" />
                <div class="month-popup" *ngIf="openMonthFilter === true">
                    <div (click)="setCurrent('month', theMonth)"  *ngFor="let theMonth of monthsList">{{theMonth}}</div>
                </div>
            </div>
            
            <div class="year-picker-container" (click)="toggleFilter('year')">
                <span class="year-selector">{{currentYear}}</span>
                <img src=".../../../../../assets/icons/chevron-down.png" />
                <div class="year-popup" *ngIf="openYearFilter === true" >
                    <div (click)="setCurrent('year', theYear)" *ngFor="let theYear of yearsList">{{theYear}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="banker-conversations-container">
        <div *ngFor="let conversation of bankerConversations">
            <div class="conversation-details" *ngIf="conversationHasMessages(conversation)">
                <div class="client-conversation-container">
                    <div class="client-name">
                        {{ getClientName(conversation)}}
                    </div>
                    <div class="message-details">
                        <div class="conversation-preview">
                            {{ getConversationLastMessage(conversation).messageText }}
                        </div>
                        <div class="conversation-date">
                            {{getLastMessageTime(conversation)}}
                        </div>
                    </div>
                </div>
                <div class="conversation-action" (click)="showAllocateScreen(conversation.conversationId)" [ngStyle]="{'color' : conversationActive(conversation) ? '#0033a1' : '#ff8a50'}">
                    <span>Allocate</span>
                </div>
            </div>
        </div>
        <div *ngIf="hasNoConversations(bankerConversations)" class="no-results-message">No conversations found</div>
    </div>
</div>