@import "./../../../variables.scss";

.landing-icon {
    width: 48px;
    height: 48px;
  }
  
  .padding-h-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .padding-v-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .padding-100 {
    padding: 100px;
  }
  .padding-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .padding-40 {
    padding: 40px;
  }
  
  .light-gray {
    color: $bluegrey;
  }
  .heading {
    font-family: BentonSans;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 20px;
    line-height: 1.36;
  }
  
  .subheading {
    font-family: BentonSans;
    font-size: 21px;
    line-height: 1.43;
  }
  
  .info-text {
    font-family: BentonSans;
    line-height: 1.5;
  }