<div class="container">
  <div class="row padding-100">
    <div class="col-xs-12 col-md-12 col-lg-12 padding-h-0">
      <img src="../../../assets/icons/sms@3x.png" class="landing-icon" />
    </div>

    <div class="padding-40 col-xs-12 col-md-12 col-lg-12 heading padding-h-0" *ngIf="hasLoadedUser()">
      Hello, {{ username }}!
    </div>
    <div
      class="col-xs-12 col-md-12 col-lg-12 padding-h-0 padding-v-20 subheading"
    >
      Welcome to WhatsApp for Relationship Managers
    </div>
    <div
      class="light-gray col-xs-12 col-md-12 col-lg-12 padding-h-0 padding-v-20 info-text"
    >
      Select a client name to start a conversation
    </div>
  </div>
</div>