@import "./../../../variables.scss";

.confirmation-modal{
    .modal-title{
        display: flex;
        justify-content: space-between;
    }

    .action-button-container{
        padding-top: 40px;
        padding-bottom: 25px;

        .send-message-btn {
            width: 250px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 22px;
            background-color: $primaryblue;
            color: #fff;
            font-size: 16px;
          }
    }

    .centered-button{
        justify-content: center;
    }
}