<div class="confirmation-modal">
    <div mat-dialog-title class="modal-title">
        <div>{{data.modalTitle}}</div>
        <div class="close-icon-container" [mat-dialog-close]="data" *ngIf="data.modalSecondaryButton !== null">
            <img src="./../../../assets/icons/close.png">
        </div>
    </div>
    <div mat-dialog-content>
        <div class="modal-message">{{data.modalMessage}}</div>
    </div>
    <div mat-dialog-actions class="action-button-container" [ngClass]="{ 'action-button-container': true, 'centered-button': data.modalSecondaryButton == null}">
        <button (click)="onPrimaryButtonClick(data)" mat-flat-button isRoundButton="true" [mat-dialog-close]="data" class="send-message-btn">{{data.modalPrimaryButton}}</button>
        <button mat-flat-button isRoundButton="true"  class="send-message-btn" [mat-dialog-close]="data" cdkFocusInitial *ngIf="data.modalSecondaryButton !== null">{{data.modalSecondaryButton}}</button>
    </div>
</div>