<div class="relationship-manager-window-wrapper">
  <div class="relationship-manager-info-container">
    <img class="relationship-manager-image" src="../../../assets/logo.png" />
    <span class="relationship-manager-name">{{getRMName(currentPortfolio)}}</span>
  </div>
  <div class="client-search-container col-xs-12 col-md-12 col-lg-12">
    <div class="search-bar-container">
      <mat-form-field class="search-input-field">
        <mat-label class="light-gray">Search</mat-label>
        <input matInput (keyup)="onSearch($event)"/>
      </mat-form-field>
    </div>
  </div>
  <div class="client-list-container col-xs-12 col-md-12 col-lg-12">
    <div *ngIf="showSearchResults;then searchResults; else allCustomers"></div>
    <ng-template #allCustomers>
      <div class="client-view" *ngFor="let client of bankerCustomers" (click)="displayUserProfile(client.customerId)">
        <div class="client-name">
          {{ getClientName(client) }}
        </div>
        <div class="view-client-button-container">
          <span class="view-profile-text">
            View Profile
          </span>
        </div>
      </div>
      <div *ngIf="!hasCustomers()" class="no-results message">
        No customers found
      </div>
    </ng-template>
    <ng-template #searchResults>
      <div class="client-view" *ngFor="let client of filteredCustomers">
        <div class="client-name">
          {{ getClientName(client) }}
        </div>
        <div class="view-client-button-container">
          <span (click)="displayUserProfile(client.customerId)" class="view-profile-text">
            View Profile
          </span>
        </div>
      </div>
      <div *ngIf="!hasResults()" class="no-results message">
        No results found
      </div>
    </ng-template>
  </div>
</div>