@import "./../../../variables.scss";

.relationship-manager-window-wrapper {
  display: block;
  height: 100%;
  justify-content: space-between;
  overflow-y: scroll;
  padding-right: 60px;
  margin-right: -60px;
  
  .relationship-manager-info-container {
    //padding-top: 80px;
    height: 30px;
    font-size: 21px;
    .relationship-manager-image {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    .relationship-manager-name {
      padding-left: 10px;
    }
  }

  

  .client-search-container {
      width: 70%;
      padding: 0;
      .search-bar-container {
        padding-top: 40px;
        padding-bottom: 14px;
    
        .search-input-field {
          width: 100%;
          font-size: 16px;
        }
    
        .light-gray {
          color: $bluegrey;
        }
      }
  }

  .client-list-container {
    padding: 0;
    .client-view {
      display: flex;
      border-bottom: 1px $bluegrey solid;
      padding: 10px;
      margin-left: -10px;
      justify-content: space-between;

      .client-name {
        font-size: 16px;
      }

      .view-client-button-container {
        cursor: pointer;

        .view-profile-text {
          color: $primaryblue;
        }
      }
    }:hover{
    background-color: #f5f5f5;
    }
  }
}
.float-left {
  float: left;
}

.landing-icon {
  width: 48px;
  height: 48px;
}

.padding-h-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-v-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.padding-100 {
  padding: 100px;
}
.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-40 {
  padding: 40px;
}

.light-gray {
  color: $bluegrey;
}
.heading {
  font-family: BentonSans;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 20px;
  line-height: 1.36;
}

.subheading {
  font-family: BentonSans;
  font-size: 21px;
  line-height: 1.43;
}

.info-text {
  font-family: BentonSans;
  line-height: 1.5;
}
