<div class="conversation-bar-wrapper">
  <div id="search-form" name="search-form">
    <div class="search-bar-container">
      <mat-form-field class="search-input-field">
        <mat-label class="light-gray">{{getSearchText()}}</mat-label>
        <input matInput (keyup)="onSearch($event)">
      </mat-form-field>
      <div *ngIf="currentTab.toLowerCase() !== 'portfolios'">
        <img src="../../../assets/icons/filters.png" (click)="openFilter = !openFilter" />
        <span style="padding-left: 15px;" (click)="openFilter = !openFilter" >Filter</span>
        <div class="filter-popup" *ngIf="openFilter === true">
          <div (click)="removeFilters()">All</div>
          <div (click)="displayPending()">Pending</div>
          <div (click)="displayInProgress()" >In progress</div>
        </div>
      </div>
      <div *ngIf="currentTab.toLowerCase() === 'portfolios' && currentUserType === 'team_lead'">
        <img src="../../../assets/icons/filters.png" (click)="openFilter = !openFilter" />
        <span style="padding-left: 15px;" (click)="openFilter = !openFilter" >Filter By Team</span>
        <div class="filter-popup" *ngIf="openFilter === true">
          <div *ngFor="let teamLead of teamLeads">
            <div (click)="viewAllTransactionalBankers(teamLead)"  style="padding: 0;">{{getInternalUserNames(teamLead)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conversations-container">
    <div *ngIf="!showSearchResults">
        <div *ngIf="currentTab === 'portfolios' && isTeamLead" (click)="viewAllTransactionalBankers(currentUser)">
          <div class="conversation-selector">
            <div [ngClass]="{'portfolio-conversation':true, 'selected-conversation':viewBankers}">
              <div class="relationship-manager-name">
                {{ isPrestigeBanker ? 'Relationship Managers Progress' : 'Transactional Bankers'}}
              </div>
            </div>
          </div>
          <div class="section-divider">
            Relationship Managers
          </div>
        </div>

        <div *ngIf="
          currentTab === 'chat' || currentTab === 'escalations';
          then thenBlock;
          else elseBlock
        ">
        </div>
        
        <ng-template #thenBlock>
          <div *ngFor="let conversation of activeConversations">
            <div *ngIf="conversationHasMessages(conversation)" class="conversation-selector">
              <div [ngClass]="{'conversation-info':true, 'selected-conversation':conversation.conversationId === currentItemId}" (click)="itemChanged(conversation)">
                <div class="chat-conversation">
                  <div class="client-name">
                    {{ getClientName(conversation) }}
                    <span class="messages-count" *ngIf="countUnreadMessages(conversation) > 0">
                      {{countUnreadMessages(conversation)}}
                    </span>
                  </div>
                  <div class="conversation-timestamp">
                    {{ getLastMessageTime(conversation) | date: 'EEEE h:mm a' }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="" class="conversation-message-badge" matBadge="22" matBadgePosition="after"></div>
          </div>
          <div *ngIf="!hasConversations(activeConversations)" class="no-results message">
            No conversations active
          </div>
        </ng-template>

        <ng-template #elseBlock>
          <div *ngFor="let portfolio of bankerPortfolios" class="conversation-selector">
            <div [ngClass]="{'portfolio-conversation':true, 'selected-conversation':portfolio.portfolioId === currentItemId}" (click)="itemChanged(portfolio)">
              <div class="relationship-manager-name">
                {{ getRMName(portfolio) }}
              </div>
            </div>
          </div>
          <div *ngIf="!(bankerPortfolios !== undefined && bankerPortfolios.length > 0)" class="no-results message">
            No results found
          </div>
        </ng-template>
    </div>
    <div *ngIf="showSearchResults">
      <div *ngFor="let filtered of filteredConversations">
        <div *ngIf="conversationHasMessages(filtered)" class="conversation-selector">
        <div [ngClass]="{'conversation-info':true, 'selected-conversation':filtered.conversationId === currentItemId}" (click)="itemChanged(filtered)">
          <div class="chat-conversation">
            <div class="client-name">
              {{getClientName(filtered)}}
              <span class="messages-count" *ngIf="countUnreadMessages(filtered) > 0">
                {{countUnreadMessages(filtered)}}
              </span>
            </div>
            <div class="conversation-timestamp">
              {{ getLastMessageTime(filtered) | date: 'EEEE h:mm a' }}
            </div>
          </div>
        </div>
      </div>
      </div>
      <div *ngIf="!hasResults()" class="no-results message">
        No results found
      </div>
    </div>
  </div>