@import "./../../../variables.scss";

.conversation-bar-wrapper {
  height: 100%;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  border-right: 1px solid $bluegrey;
  overflow: auto;
  
  .search-bar-container {
    padding-top: 40px;
    padding-bottom: 22px;
    
    .filter-popup {
      width: 222px;
      height: auto;
      cursor: pointer;
      position: absolute;
      border-radius: 21px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      div {
        padding: 20px;
        font-size: 16px;
        color: $primaryblue;
      }
    }

    .search-input-field {
      width: 100%;
      font-size: 16px;
    }
    .light-gray {
      color: $bluegrey;
    }
    .filter-toggle {
      padding-left: 10px;
    }
  }

  .conversations-container {
    overflow-y: scroll;
    margin-right: -35px;
    margin-left: -35px;
    padding-left: 35px;

    .conversation-selector:visited,
    .conversation-selector:focus,
    .conversation-selector:focus-within,
    .conversation-selector:hover,
    .conversation-selector:active {
      color: $primaryblue;
      cursor: pointer;
      outline: none;
    }
    .conversation-selector {
      padding-right: 35px;

      .conversation-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 35px;
        margin: 0px -35px;
        .client-name {
          font-size: 16px;

          .messages-count{
            font-family: BentonSans;
            font-size: 16px;
            border-radius: 12.5px;
            display: inline-block;
            padding: 0px 6px;
            border: 1.5px solid $primaryblue;
            color: $primaryblue;
          }
        }

        .conversation-timestamp {
          font-size: 13px;
          color: $bluegrey;
        }
      } :hover {
        background-color: #f5f5f5;
      }

      .selected-conversation{
        background-color: #f5f5f5;
      }

      .conversation-preview {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
      }

      .conversation-message-badge {
      }

      .portfolio-conversation{
        padding: 10px 35px;
        margin: 0px -35px;
        .relationship-manager-name{
          font-size: 16px;
        }
        
      }
    }

    .section-divider{
      font-size: 13px;
      padding-top: 20px;
      padding-bottom: 5px;
      color: $bluegrey;
    }
  }
}

.conversation-bar-wrapper::-webkit-scrollbar {
  display: none;
}
