<div class="user-type-wrapper container-fluid">
    <div class="row">
        <div class="user-type-screen col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="user-type-selection-modal  col-xs-12 col-sm-12 col-md-8 col-lg-6">
                <div class="user-type-modal-title">
                    WhatsApp for Relationship Managers
                </div>
                <div class="user-types-container">
                    <a [routerLink]="'prestige'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Prestige
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="'prestige-lead'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Prestige Lead
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="'relationship-manager'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Relationship Manager
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="'team-lead'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Team Lead 1
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="'transactional'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Transactional Banker
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="'transactional-two'">
                        <div class="user-type">
                            <div class="user-type-text">
                                Transactional Banker 2
                            </div>
                            <div class="select-arrow-container">
                                <img class="selection-arrow" src="../../../assets/icons/chevron-down.png">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>