@import "../../../variables";

.user-type-wrapper {
    background-image: linear-gradient($secondaryblue, $primaryblue);
    width: 100%;
    height: 100%;
    .user-type-screen{
        display: flex;
        align-items: center;
        justify-content: center;
  
        .user-type-selection-modal{
            background-color: white;
            border-radius: 15px;
            padding: 50px 40px;

            .user-type-modal-title{
                text-align: center;
                border-bottom: 1px $bluegrey solid;
                font-weight: bold;
                font-size: 26px;
                padding-bottom: 20px;
            }

            .user-types-container{
                a{
                    text-decoration: none;
                }

                .user-type{
                    border-bottom: 1px $bluegrey solid;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    cursor: pointer;

                    .user-type-text{
                        color: $primaryblue;
                        font-size: 26px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }

                    .select-arrow-container{
                        align-self: center;

                        .selection-arrow{
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}